In [ ]:
! pip install -q kaggle

In [ ]:
! mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [ ]:
! cp kaggle.json ~/.kaggle/

In [ ]:
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
! kaggle datasets download -d ruturajkanake/health-care-dataset

Downloading health-care-dataset.zip to /content
  0% 0.00/6.54M [00:00<?, ?B/s]
100% 6.54M/6.54M [00:00<00:00, 59.5MB/s]

In [ ]:
! unzip health-care-dataset.zip

Archive:  health-care-dataset.zip
  inflating: healthcare/sample_sub.csv
  inflating: healthcare/test_data.csv
  inflating: healthcare/train_data.csv
  inflating: healthcare/train_data_dictionary.csv

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
dataset_train = pd.read_csv('healthcare/train_data.csv')
dataset_test = pd.read_csv('healthcare/test_data.csv')

In [ ]:
dataset_train.head()

   case_id  Hospital_code Hospital_type_code  ...    Age Admission_Deposit   Stay
0        1              8                  c  ...  51-60            4911.0   0-10
1        2              2                  c  ...  51-60            5954.0  41-50
2        3             10                  e  ...  51-60            4745.0  31-40
3        4             26                  b  ...  51-60            7272.0  41-50
4        5             26                  b  ...  51-60            5558.0  41-50

[5 rows x 18 columns]

In [ ]:
print('Train Shape: ', dataset_train.shape)
print('Test Shape: ', dataset_test.shape)

Train Shape:  (318438, 18)
Test Shape:  (137057, 17)

In [ ]:
dataset_train.isnull().sum(axis=0)

case_id                                 0
Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                             113
patientid                               0
City_Code_Patient                    4532
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Age                                     0
Admission_Deposit                       0
Stay                                    0
dtype: int64

In [ ]:
dataset_test.isnull().sum(axis=0)

case_id                                 0
Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                              35
patientid                               0
City_Code_Patient                    2157
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Age                                     0
Admission_Deposit                       0
dtype: int64

In [ ]:
dataset_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318438 entries, 0 to 318437
Data columns (total 18 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   case_id                            318438 non-null  int64
 1   Hospital_code                      318438 non-null  int64
 2   Hospital_type_code                 318438 non-null  object
 3   City_Code_Hospital                 318438 non-null  int64
 4   Hospital_region_code               318438 non-null  object
 5   Available Extra Rooms in Hospital  318438 non-null  int64
 6   Department                         318438 non-null  object
 7   Ward_Type                          318438 non-null  object
 8   Ward_Facility_Code                 318438 non-null  object
 9   Bed Grade                          318325 non-null  float64
 10  patientid                          318438 non-null  int64
 11  City_Code_Patient                  313906 non-null  float64
 12  Type of Admission                  318438 non-null  object
 13  Severity of Illness                318438 non-null  object
 14  Visitors with Patient              318438 non-null  int64
 15  Age                                318438 non-null  object
 16  Admission_Deposit                  318438 non-null  float64
 17  Stay                               318438 non-null  object
dtypes: float64(3), int64(6), object(9)
memory usage: 43.7+ MB

In [ ]:
dataset_train['Hospital_type_code'].value_counts()

a    143425
b     68946
c     45928
e     24770
d     20389
f     10703
g      4277
Name: Hospital_type_code, dtype: int64

In [ ]:
train_test_data = [dataset_train, dataset_test]

In [ ]:
hospital_type_code_mapping = {
    "a": 1, "b": 2, "c": 3, "d": 4, "e": 5, "f": 6, "g": 7
}

In [ ]:
for itr in train_test_data:
  itr['Hospital_type_code'] = itr['Hospital_type_code'].map(hospital_type_code_mapping)

In [ ]:
dataset_train['Hospital_region_code'].value_counts()

X    133336
Y    122428
Z     62674
Name: Hospital_region_code, dtype: int64

In [ ]:
hospital_region_code_mapping = {
    "X": 1, "Y": 2, "Z": 3
}

In [ ]:
for itr in train_test_data:
  itr['Hospital_region_code'] = itr['Hospital_region_code'].map(hospital_region_code_mapping)

In [ ]:
dataset_train['Department'].value_counts()

gynecology            249486
anesthesia             29649
radiotherapy           28516
TB & Chest disease      9586
surgery                 1201
Name: Department, dtype: int64

In [ ]:
department_mapping = {
    "gynecology": 1, "anesthesia": 2, "radiotherapy": 3, "TB & Chest disease": 4, "surgery": 5
}

In [ ]:
for itr in train_test_data:
  itr['Department'] = itr['Department'].map(department_mapping)

In [ ]:
dataset_train['Ward_Type'].value_counts()

R    127947
Q    106165
S     77794
P      5046
T      1477
U         9
Name: Ward_Type, dtype: int64

In [ ]:
ward_type_mapping = {
    "R": 1, "Q": 2, "S": 3, "P": 4, "T": 5, "U": 6
}

In [ ]:
for itr in train_test_data:
  itr['Ward_Type'] = itr['Ward_Type'].map(ward_type_mapping)

In [ ]:
dataset_train['Ward_Facility_Code'].value_counts()

F    112753
E     55351
D     51809
C     35463
B     35156
A     27906
Name: Ward_Facility_Code, dtype: int64

In [ ]:
ward_facility_mapping = {
    "A": 1, "B": 2, "C": 3, "D": 4, "E": 5, "F": 6
}

In [ ]:
for itr in train_test_data:
  itr['Ward_Facility_Code'] = itr['Ward_Facility_Code'].map(ward_facility_mapping)

In [ ]:
dataset_train['Ward_Facility_Code'].value_counts()

6    112753
5     55351
4     51809
3     35463
2     35156
1     27906
Name: Ward_Facility_Code, dtype: int64

In [ ]:
dataset_train['Bed Grade'].value_counts()

2.0    123671
3.0    110583
4.0     57566
1.0     26505
Name: Bed Grade, dtype: int64

In [ ]:
dataset_train['Bed Grade'].describe()

count    318325.000000
mean          2.625807
std           0.873146
min           1.000000
25%           2.000000
50%           3.000000
75%           3.000000
max           4.000000
Name: Bed Grade, dtype: float64

In [ ]:
for itr in train_test_data:
  itr['Bed Grade'] = itr['Bed Grade'].fillna(method="ffill",axis=0)
  itr['City_Code_Patient'] = itr['City_Code_Patient'].fillna(method="ffill",axis=0)

In [ ]:
type_of_admission_mapping = {}

for i in range(0, len(dataset_train['Type of Admission'].unique())):
  type_of_admission_mapping[dataset_train['Type of Admission'].unique()[i]] = i+1

In [ ]:
for itr in train_test_data:
  itr['Type of Admission'] = itr['Type of Admission'].map(type_of_admission_mapping)

In [ ]:
severity_of_illness_mapping = {}

for i in range(0, len(dataset_train['Severity of Illness'].unique())):
  severity_of_illness_mapping[dataset_train['Severity of Illness'].unique()[i]] = i+1

In [ ]:
for itr in train_test_data:
  itr['Severity of Illness'] = itr['Severity of Illness'].map(severity_of_illness_mapping)

In [ ]:
dataset_train['Age'].value_counts()

41-50     63749
31-40     63639
51-60     48514
21-30     40843
71-80     35792
61-70     33687
11-20     16768
81-90      7890
0-10       6254
91-100     1302
Name: Age, dtype: int64

In [ ]:
age_mapping = {}

for i in range(0, len(dataset_train['Age'].unique())):
  age_mapping[dataset_train['Age'].unique()[i]] = i+1

for itr in train_test_data:
  itr['Age'] = itr['Age'].map(age_mapping)

In [ ]:
dataset_train['Stay'].value_counts()

21-30                 87491
11-20                 78139
31-40                 55159
51-60                 35018
0-10                  23604
41-50                 11743
71-80                 10254
More than 100 Days     6683
81-90                  4838
91-100                 2765
61-70                  2744
Name: Stay, dtype: int64

In [ ]:
stay_mapping = {}

for i in range(0, len(dataset_train['Stay'].unique())):
  stay_mapping[dataset_train['Stay'].unique()[i]] = i+1

dataset_train['Stay'] = dataset_train['Stay'].map(stay_mapping)

In [ ]:
dataset_train.head()

   case_id  Hospital_code  Hospital_type_code  ...  Age  Admission_Deposit  Stay
0        1              8                   3  ...    1             4911.0     1
1        2              2                   3  ...    1             5954.0     2
2        3             10                   5  ...    1             4745.0     3
3        4             26                   2  ...    1             7272.0     2
4        5             26                   2  ...    1             5558.0     2

[5 rows x 18 columns]

In [ ]:
dataX = dataset_train
dataY = dataset_train['Stay']

In [ ]:
dataX = dataX.drop(['Stay', 'case_id'], axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(dataX, dataY, test_size=0.25, random_state=42)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier()

clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
y_pred = clf.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_pred)

0.402110287652305

In [ ]:
caseId = dataset_test['case_id']

test_data = dataset_test.drop('case_id', axis=1)

In [ ]:
prediction = clf.predict(test_data)

In [ ]:
submission = pd.DataFrame({
    "case_id": caseId,
    "Stay": prediction
})

stay_inv_map = {val: key for key, val in stay_mapping.items()}

submission['Stay'] = submission['Stay'].map(stay_inv_map)

submission.to_csv('submission.csv', index=False, header=1)